<div class="container mt-4">  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Socios</h2>
    <button class="btn btn-outline-success" [routerLink]="['/crear']">➕</button> 
  </div>  
  <table class="table table-bordered">
    <thead class="thead-dark">
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let socio of this.socios">
        <ng-container *ngIf="socio">
        <td>
            {{ socio.nombreSocio }} {{ socio.apellido1Socio }} {{ socio.apellido2Socio }} 
        </td>
        <td>
          <button class="btn btn-outline-info" [routerLink]="['/detalle', socio.idSocio]">🔍</button> 
          <button class="btn btn-outline-warning" [routerLink]="['/editar', socio.idSocio]">✏️</button> 
          <button class="btn btn-outline-danger" (click)="eliminar(socio.idSocio)">❌</button> 
        </td>
      </ng-container>
      </tr>
    </tbody>
  </table>
</div>